<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duan.system.dao.OlderPositionMapper">
    <insert id="insert" parameterType="olderPosition">
        insert into older_position(adress, room, bed, status, olderid)
        values (#{address},#{room},#{bed},#{status},#{olderid})
    </insert>
    <select id="findAdress" resultType="string">
        select distinct adress from older_position
    </select>
    <select id="findRoomByAdress" resultType="string">
        select distinct room from older_position where adress = #{adress}
    </select>
    <select id="findEmptyBedByAdressAndRoom" resultType="string">
        select bed from older_position where adress = #{adress} and room = #{room}
        and status != 1
    </select>
</mapper>